.page.theme_dark {
  --bg-color: #000028;
  --title-color: #000028;
  --color-text: #f1b2ce;
  --accent-color: #ff0070;
  --accent-title-color: #db00ff;
  --accent-color-subtitle: #ff0070;
  --active-button-color: #ff0070;
  --main-font: 400;
  --accent-font: 700;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .pseudo-element {
  visibility: visible;
}