.page.theme_light {
  --bg-color: #fff1f7;
  --title-color: #353430;
  --color-text: #353430;
  --accent-color: #ff8dcb;
  --accent-title-color: #ffc2e6;
  --accent-color-subtitle: #353430;
  --active-button-color: #353430;
  --main-font: 400;
  --accent-font: 700;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .pseudo-element {
  visibility: hidden;
}


.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #353430;
    --color-text: #353430;
    --accent-color: #ff8dcb;
    --accent-title-color: #ffc2e6;
    --accent-color-subtitle: #353430;
    --active-button-color: #353430;
    --main-font: 400;
    --accent-font: 700;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .pseudo-element {
    visibility: hidden;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
}