/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
}

.header {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-height: 668px;
  margin-block-end: 11%;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  justify-content: end;
  align-items: center;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  right: 10px;
  top: 10px;
  border-block-start: 1px solid var(--active-button-color, #ff0070);
  border-inline-end: 1px solid var(--active-button-color, #ff0070);
  z-index: 1;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--active-button-color, #ff0070);
  border-inline-start: 1px solid var(--active-button-color, #ff0070);
  z-index: 1;
}

.pseudo-element {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  text-transform: uppercase;
  visibility: visible;
}

.pseudo-element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  right: -19px;
  top: 0;
  margin-block-start: 7px;
  z-index: 1;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  border: none;
  background-color: transparent;
  color: var(--active-button-color, #ff0070);
  font-size: 18px;
  text-transform: lowercase;
  line-height: 1;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}


.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--active-button-color, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--active-button-color, #ff0070);
}

.header__title {
  color: var(--accent-title-color, #db00ff);
  font-size: var(--logo-size);
  font-weight: var(--accent-font, 700);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  padding-inline-end: 14%;
  block-size: auto;
  font-size: 18px;
  color: var(--title-color, #000028);
}